@font-face {
    font-family: MoMa;
    src: url(../assets/fonts/MoMA_Sans_Regular.ttf);
    font-weight: normal;
}
@font-face {
    font-family: MoMa;
    src: url(../assets/fonts/MoMA_Sans_Bold.ttf);
    font-weight: bold;
}
:root{
    --font-color:#1D1D1F;
    --paragraph-font:1rem;
    --extra-small-size-font: 0.8rem;
    --large-size-font:2rem;
}
*{
    font-family: MoMa;
}
.parallax-bg{
    position: absolute;
    width: 100%;
}
.main-content{
    z-index: 1;
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-bottom: 6rem;
}
.abs{
    position: absolute;
}
.qplusa-square{
    width: 28px;
    height: 28px;
    display: block;
    border: 3px solid #DB7658;
}
.qplusa-circle{
    width: 28px;
    height: 28px;
    display: block;
    border: 3px solid #91B1DA;
    border-radius: 50%;
}
.qplusa-triangle{
    color: transparent;
    font-size: 40px;
    -webkit-text-stroke: 3px #F2DE6D;
}
.area1{
    left:20%;
    top:5%;
}
.area2 {
    left: 45%;
    top: 20%;
}
.area3{
    left:5%;
    top:15%
}
.area4{
    left:93%;
    top:35%;
}
.area5{
    left:80%;
    top:8%;
}
/** triangle **/
.area6{
    left:65%;
    top:15%;
}
.area7{
    left:10%;
    top:40%;
}
.area8{
    left:5%;
    top:60%;
}
.area9{
    left:13%;
    top:80%;
}
.area10{
    left:82%;
    top:45%;
}
.area11{
    left:85%;
    top:65%;
}
.area12{
    left:90%;
    top:85%;
}
.scene{
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.layer {
    position: absolute !important;
    width: 100%;
    height: 100%;
}
.container{
    font-size: var(--paragraph-font);
}
.hero-section{
    margin-top:4rem;
}
.hero-section-scaled{
    opacity: 0;
    transform: scale(0.5); /* Default size */
    transition: transform 0.5s ease-in-out, opacity 0.8s ease-in-out;
}
.hero-section .tagline{
    font-size: 1.3rem;
}
.hero-section .row{
    justify-content: center;
}
.hero-section .hero-btn{
    border:0;
    border-radius: 58px;
    color: var(--font-color);
    font-weight: bold;
    min-width: 250px;
    padding: 1rem 0;
}
.hero-section a{
    color: var(--font-color);
    text-decoration: none;
}
.hero-section .involved-btn{
    background-color: #F2DE6D;
    transition: all 0.3s ease-in-out;
}
.hero-section .involved-btn:hover{
    background-color: #FFE551;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.hero-section .donate-btn{
    background-color: #DB7658;
    transition: all 0.3s ease-in-out;
}
.hero-section .donate-btn:hover{
    background-color: #F5734D;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.hero-component{
    position: relative;
    width: 100%;
    margin:0 auto;
}
.hero-component .hero-gallery{
    position: absolute;
    aspect-ratio: 12.5 / 8.75;
    border-radius: 12px;
    width: 15rem;
    height: auto;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}
.hero-component .hero-gallery img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.cloudfloat{
    transform: translate(0, 2.5rem);
}
.hero-component .gallery-1{
    left: 13%;
}
.hero-component .gallery-2{
    right:13%;
}
.hero-component .gallery-3{
    left:10%;
    top:35%;
}
.hero-component .gallery-4{
    right:10%;
    top:35%;
}
.hero-component .gallery-5{
    left:14%;
    top:75%;
}
.hero-component .gallery-6{
    right:14%;
    top:75%;
}



.hero-section .videoWrapper-container{
    max-width: 1000px;
    margin:0 auto;
    padding:2rem 0;
}
.hero-section .videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    width: 100%;
    height: 0;
    z-index: 4;
    transition: all 0.3s ease-in-out;
}
.hero-section .videoWrapper iframe {
    position: absolute;
    border: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 26px;
}
.hero-section .videoWrapper:hover{
    transform: translate(2ch, 2mm);
}
.nav-container{
    position: relative;
    margin: 0 auto;
    margin-top:7rem;
    max-width: 1440px;
    height: 800px;
}
.clicked-container{
    max-width: 100%;
}
.nav-ir{
    cursor: pointer;
    position: absolute;
    transition: all 0.3s ease-in-out;
    
    z-index: 3;
}
.nav-ir h1{
    text-align: center;
    text-transform: uppercase;
    
    font-weight: bold;
    font-size: 2.5rem;
}
.svg-line{
    position: absolute;
    z-index: 2;
}
.nav-ir-1{
    background-color: #91B1DA;
    -webkit-clip-path: url("#ir-shape-1");
    clip-path: url("#ir-shape-1");
    max-width: 632px;
    width: 100%;
    height: 328px;
    padding:7rem;
    left:0;
    top:0;
}
.clicked{
    -webkit-clip-path: none !important;
    clip-path: none !important;
    max-width: 100% !important;
    height: 100% !important;
    position: fixed;
    padding:4rem !important;
    margin:0;
    top:0 !important;
    left:0;
    overflow: hidden;
    z-index: 5;
    cursor: auto;
    transform: none !important;
}
.clicked h1{
    text-align: left;
}
.nav-ir-1:hover:not(.clicked) {
    transform: translate(2ch, 2mm) !important;
}
.line-1{
    top: 13%;
    left:4%;
 }
 .line-2{
    top: 43%;
    left: 20%;
 }
 .line-3{
    top: 61%;
    left: 20%;
 }
.nav-ir-2{
    background-color: #DB7658;
    -webkit-clip-path: url("#ir-shape-2");
    clip-path: url("#ir-shape-2");
    max-width: 915px;
    width: 100%;
    height: 314px;
    padding: 9rem;
    right: 0;
    top:18%;
}
.nav-ir-2:hover:not(.clicked){
    transform: translate(-2ch, -2mm) !important;;
}
.nav-ir-3{
    background-color: #D7BBA7;
    -webkit-clip-path: url("#ir-shape-3");
    clip-path: url("#ir-shape-3");
    max-width: 600px;
    width: 100%;
    height: 338px;
    padding: 10rem 9rem;
    left: 0;
    bottom: 10%;
}
.nav-ir-3:hover:not(.clicked){
    transform: translate(2ch, -2mm) !important;;
}
.nav-ir-4{
    background-color: #F2DE6D;
    -webkit-clip-path: url("#ir-shape-4");
    clip-path: url("#ir-shape-4");
    max-width: 696px;
    width: 100%;
    height: 330px;
    padding: 10rem 9rem;
    right: 0;
    bottom: 0;
}
.nav-ir-4:hover:not(.clicked){
    transform: translate(-2ch, 2mm) !important;;
}

 
footer{
    color:var(--font-color);
    font-size: 1.2rem;
}
footer .row{
    align-items: center;
}
footer h1{
    font-size: 3rem;
    font-weight: bold;
}
.footer-infor a{
    color: var(--font-color);
    text-decoration: none;
    opacity:1;
    transition: opacity 0.3s ease-in-out;
}
.footer-infor a:hover{
    opacity: 0.5;
}
.footer-navigation a{
    color: #D7BBA7;
    font-weight: bold;
    font-size:1.2rem;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}
.footer-navigation a:hover{
    color: #91B1DA;
}
.footer-cpright {
    font-size: var(--extra-small-size-font);
}
.svg-container{
    z-index: 0;
    position: absolute;
}