@font-face {
    font-family: MoMa;
    src: url(../assets/fonts/MoMA_Sans_Regular.ttf);
    font-weight: normal;
    font-display: swap; /* Ensures text remains visible during webfont load */
}
@font-face {
    font-family: MoMa;
    src: url(../assets/fonts/MoMA_Sans_Bold.ttf);
    font-weight: bold;
    font-display: swap; /* Ensures text remains visible during webfont load */
}

:root{
    --black-color:#1D1D1F;
    --white-color:#ffffff;
    --qplusa-blue:#91B1DA;
    --qplusa-red:#DB7658;
    --qplusa-brown:#D7BBA7;
    --qplusa-yellow:#F2DE6D;
    --paragraph-font:1rem;
    --extra-small-size-font: 0.8rem; 
    --large-size-font:2rem;
    --vertical-bot-motion:translate(0, 2.5rem);
}
*{
    font-family: MoMa;
}
body{
    overflow-x: hidden;
}
.loader-wrapper {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
}
.loader-wrapper .abs{
    top:45%;
}
.shape-wrapper{
    margin: 0 auto;
    width: 100px;
}
.loader-shape{
    width: 100px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: var(--qplusa-yellow);
    clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
    animation: l1 2s infinite cubic-bezier(0.3,1,0,1);
 
  }
  @keyframes l1 {
    33% {border-radius: 0;background: var(--qplusa-blue) ;clip-path: polygon(0 0,100% 0,100% 100%,0 100%)}
    66% {border-radius: 0;background: var(--qplusa-red) ;clip-path: polygon(50% 0,50% 0,100% 100%,0 100%)}
}
p{
    display: block;
    width: 100%;
    word-wrap: break-word;
}

a:link{
    text-decoration: none;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}
a:hover{
    opacity: 0.8;
}
.parallax-bg{
    position: absolute;
    width: 100%;
}
.main-content{
    z-index: 1;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.abs{
    position: absolute;
}
.qplusa-square{
    width: 30px;
    height: 30px;
    display: block;
    border: 3px solid var(--qplusa-red);
}
.qplusa-circle{
    width: 32px;
    height: 32px;
    display: block;
    border: 3px solid var(--qplusa-blue);
    border-radius: 50%;
}
 
.qplusa-triangle{
    position: relative;
    transform: scale(var(--ggs,1));
    width: 40px;
    height: 17px;
    border-left: 3px solid transparent;
    border-bottom: 3px solid var(--qplusa-yellow);
}
.qplusa-triangle,
.qplusa-triangle::before {
    display: block;
    box-sizing: border-box;
    border-right: 3px solid transparent
}
.qplusa-triangle::before {
    content: "";
    position: absolute;
    width: 34px;
    height: 34px;
    border-left: 3px solid var(--qplusa-yellow);
    border-top: 3px solid var(--qplusa-yellow);
    border-bottom: 3px solid transparent;
    transform: rotate(45deg) skew(10deg,10deg);
    left: 0;
    bottom: -19px
}

.area1{
    left:20%;
    top:5%;
}
.area2 {
    left: 45%;
    top: 20%;
}
.area3{
    left:5%;
    top:15%
}
.area4{
    left:85%;
    top:35%;
}
.area5{
    left:80%;
    top:8%;
}
/** triangle **/
.area6{
    left:65%;
    top:15%;
}
.area7{
    left:10%;
    top:40%;
}
.area8{
    left:5%;
    top:60%;
}
.area9{
    left:13%;
    top:80%;
}
.area10{
    left:82%;
    top:45%;
}
.area11{
    left:85%;
    top:65%;
}
.area12{
    left:87%;
    top:85%;
}
.scene{
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.layer {
    position: absolute !important;
    width: 100%;
    height: 100%;
}
.container{
    font-size: var(--paragraph-font);
}
.hero-section{
    margin-top:4rem;
}
.hero-section-scaled{
    opacity: 0.0001;
    transform: scale(0.5); /* Default size */
    transition: transform 0.5s ease-in-out, opacity 0.8s ease-in-out;
}
.hero-section .logo-link{
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}
.hero-section .logo-link:hover{
    opacity: 0.8;
}
.hero-section .tagline{
    font-size: 1.3rem;
}
.hero-section .row{
    justify-content: center;
}
.hero-section .hero-btn{
    border:0;
    border-radius: 58px;
    color: var(--black-color);
    font-weight: bold;
    min-width: 250px;
    padding: 1rem 0;
}
.hero-section a{
    color: var(--black-color);
}
.hero-section .involved-btn{
    background-color: var(--qplusa-yellow);
    transition: all 0.3s ease-in-out;
}
.hero-section .involved-btn:hover{
    background-color: #FFE551;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.hero-section .donate-btn{
    background-color: var(--qplusa-red);
    transition: all 0.3s ease-in-out;
}
.hero-section .donate-btn:hover{
    background-color: #F5734D;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.hero-component{
    position: relative;
    width: 100%;
    margin:0 auto;
}
.hero-component .hero-gallery{
    position: absolute;
    aspect-ratio: 12.5 / 8.75;
    border-radius: 12px;
    width: 15rem;
    height: auto;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}
.hero-component .hero-gallery img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.cloudfloat{
    transform: var(--vertical-bot-motion);
}
.hero-component .gallery-1{
    left: 13%;
}
.hero-component .gallery-2{
    right:13%;
}
.hero-component .gallery-3{
    left:10%;
    top:35%;
}
.hero-component .gallery-4{
    right:10%;
    top:35%;
}
.hero-component .gallery-5{
    left:14%;
    top:75%;
}
.hero-component .gallery-6{
    right:14%;
    top:75%;
}



.hero-section .videoWrapper-container{
    max-width: 1000px;
    margin:0 auto;
    padding:2rem 0.5rem;
}
.hero-section .videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    width: 100%;
    height: 0;
    z-index: 4;
    transition: all 0.3s ease-in-out;
}
.hero-section .videoWrapper iframe {
    position: absolute;
    border: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 26px;
}
.hero-section .videoWrapper:hover{
    transform: translate(2ch, 2mm);
}
/*
.hero-section .videoWrapper .play-btn{
    position: absolute;
    background-color: rgba(0, 0, 0, .8);
    border-radius: 50vw;
    width: 100px;
    height: 100px;
    top: 41%;
    left: 45%;
    z-index: 1;
}
.play-btn .play-triangle{
    width: 0; 
    height: 0; 
    margin: 0 auto;
    padding-left: 5px;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 48px solid white;
    transform: translateY(50%);
}
*/
.nav-container{
    position: relative;
    margin: 0 auto;
    margin-top:5rem;
    max-width: 1400px;
    height: 1000px;
}
.clicked-container{
    max-width: 100%;
}
.nav-ir{
    overflow: hidden !important;
    cursor: pointer;
    position: absolute;
    transition: all 0.3s ease-in-out;
    z-index: 3;
}
.nav-ir svg{
        height: 100%;
        max-width: 100%;
        position: relative;
        width: auto;
}
.nav-ir a{
    color: var(--black-color);
}
.nav-ir h1{
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.6rem;
    letter-spacing: 0.3rem;
}
.svg-line{
    position: absolute;
    z-index: 2;
}
.svg-m-line{
    display: none;
    position: absolute;
    z-index: 2;
}
.clicked{
    max-width: 100% !important;
    width: 100% !important;
    max-height: 100% !important;
    height: 100% !important;
    position: fixed;
    margin:0;
    top:0 !important;
    left:0;
    overflow:auto;
    z-index: 5;
    cursor: auto;
    transform: none !important;
}
.clicked h1{
    text-align: left;
    font-size: 3rem;
    margin: 0;
}
.line-1{
    top: 13%;
    left:4%;
 }
 .line-2{
    top: 45%;
    left: 20%;
 }
 .line-3{
    top: 61%;
    left: 20%;
 }

 .m-line-1{
    top:25%;
    left:30%;
 }
 .m-line-2{
    top:40%;
    left:30%;
 }
 .m-line-3{
    top:64%;
    left: 18%;
 }

 .nav-ir-1{
    left:0;
    top:0;
 
}
.nav-ir-2{
    right: 0;
    top:24%;
 
}
.nav-ir-3{
    left: 0;
    top:47%;
}
.nav-ir-4{
    right: 0;
    top:63%;
}
.nav-ir-1:hover:not(.clicked) {
    transform: translate(2ch, 2mm) !important;
}
.nav-ir-2:hover:not(.clicked){
    transform: translate(-2ch, -2mm) !important;;
}
.nav-ir-3:hover:not(.clicked){
    transform: translate(2ch, -2mm) !important;
}
.nav-ir-4:hover:not(.clicked){
    transform: translate(-2ch, 2mm) !important;
}

.nav-outer{
    position: relative;
}
.clicked .nav-outer{
    display: none;
}
.nav-inner{
    opacity: 0.0001;
    transform:translateX(0);
    transition: opacity 0.5s ease-in-out, transform 1s ease-in-out;
}
.clicked .nav-inner{
    margin: 0;
    padding: 0;
    opacity: 1;
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    border: solid 1rem var(--black-color);
}
 
.nav-ir-1 .nav-inner, .nav-ir-3 .nav-inner {
    transform: translateX(-100%);
}

.nav-ir-2 .nav-inner, .nav-ir-4 .nav-inner {
    transform: translateX(100%);
}
 
.nav-ir.clicked .nav-inner {
    transform: translateX(0);
}

.nav-ir-1.clicked .nav-inner{
    background-color: var(--qplusa-blue);
}
.nav-ir-2.clicked .nav-inner{
    background-color: var(--qplusa-red);
}
.nav-ir-3.clicked .nav-inner{
    background-color: var(--qplusa-brown);
}
.nav-ir-4.clicked .nav-inner{
    background-color: var(--qplusa-yellow);
}
 
.nav-ir:last-child .inner-content{
    padding: 0;
}
.inner-content{
    width: 0;
    height: 0;
    visibility: hidden;
}
.clicked .inner-content{
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    height: 100%;
    padding: 4rem;
    visibility: visible;
    overflow: auto;
}
.inner-paragraph{
    margin-top: 3rem;
}
.inner-paragraph h1, .inner-paragraph  h2, .inner-paragraph  h3, .inner-paragraph  h4{
    margin-bottom: 0.5rem;
    line-height: 2 !important;
}
 
.inner-paragraph ul::marker{
    font-size: 2.5rem;
}
.inner-paragraph li::marker{
    font-size: 1.5rem;
}

.instagram-wrapper{
    width: 100%;
}

.inner-paragraph .instagram-wrapper iframe{
	width:100%;
}
.instagram-wrapper #instagram-embed-0{
    border: solid 0.5rem var(--black-color) !important;
    padding-bottom: 2rem !important;
    min-width: 280px !important;
}

.inner-paragraph .overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 24px;
    padding: 1.5rem;
    text-align: center;
    transition: opacity 1s ease-in-out;
}
.overlay h1{
    letter-spacing: 0;
    text-align: center;
}
.inner-paragraph form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.inner-paragraph form *{
    margin-right: 2rem;
}
.inner-paragraph form *:last-child{
    margin: 0;
}
.inner-paragraph form label{
    color: var(--black-color);
    font-size: 1.8rem;
    font-weight: bold;
    
}
input:is(:-webkit-autofill, :autofill){
    background-color: transparent;
}
.inner-paragraph form input[type="email"]{
    color: var(--black-color);
    border: none;
    border-radius: 0;
    outline: none; 
    max-width: 450px;
    width: 100%;
    padding: 1.6rem 0 1rem 0;
    font-size: 1.3rem;
    background: transparent;
    border-bottom: 5px solid var(--black-color);
}

.inner-paragraph form input[type="submit"] {
    text-transform: uppercase;
    background-color: var(--black-color);
    color: var(--white-color);
    border: solid 0.8rem var(--black-color);
    font-size: 1.2rem;
    font-weight: bold;
    max-width: 350px;
    width: 100%;
    letter-spacing: 0.1rem;
    padding: 0.8rem 1rem;
    transition: background-color 0.3s ease-in-out;
}

.inner-paragraph form input[type="submit"]:hover{
    background-color: var(--white-color);
    color: var(--black-color);
}
.publication-list .publication-header{
    background-color: var(--black-color);
    color: var(--qplusa-brown);
    width: 100%;
    padding: 1.5rem;
    text-align: center;
    font-weight: bold;
}
.publication-list .list-cols{
    padding: 1.25rem;
    border: solid 0.5rem var(--black-color);
    border-top: 0;
    text-align: center;
}
.publication-list .list-cols:nth-child(odd){
    border-right: 0;
}
.contact-desktop{
    display: block;
}
.contact-mobile{
    width: 100%;
    display: none;
}
.contact-row{
    width: 0;
    height: 0;
    visibility: hidden;
    opacity: 0.0001;
    transition: opacity 2s ease-in-out;
}

.clicked .contact-row{
    width: 100%;
    height: 100%;
    visibility: visible;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    opacity: 1;
}
.contact-col{
    width: 50%;
}

.contact-col.team-image{
    background-image: url(../images/team.jpg);
    background-position: center;
    background-size: cover;
    border-right: solid 1rem var(--black-color);
}
.contact-col.team-image img{
    display: none;
}
.contact-col:first-child{
    border-right:solid 1rem var(--black-color);
}
.contact-col:last-child{
   padding:0 3rem;
}
.contact-col h1{
    line-height: 1;
    font-size: 4rem;
}
.contact-col strong{
    font-size:1.6rem;
}
.contact-col .send-btn{
    background-color: var(--black-color);
    color: var(--white-color);
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 3rem;
    padding: 0.5rem 5rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    border: solid 1rem var(--black-color);
    transition: all 0.5s ease-in-out;
}
.contact-col .send-btn:hover{
    border: solid 1rem var(--black-color);
    background-color: var(--white-color);
    color: var(--black-color);
}
.close-btn{
    cursor: pointer;
    position: relative;
    width: 60px;
    height: 60px;
    transition: transform  0.5s ease-in-out;
    transform-origin: center center;
}
 
.close-btn:hover{
    transform-origin: center center;
    transform: rotate(360deg);
}
.close-btn:before, .close-btn:after {
    position: absolute;
    content: ' ';
    left: 26px;
    height: 60px;
    width: 8px;
    background-color: #333;
}
.close-btn:before {
    transform: rotate(45deg);
}
.close-btn:after {
    transform: rotate(-45deg);
}

.nav-ir .nav-ir-name{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 45%;
    text-align: center;
}
.nav-ir-1 .nav-ir-name{
    top: 40% !important;
}

footer{
    color:var(--black-color);
    font-size: 1.2rem;
    z-index: 6;
}
footer .row{
    align-items: center;
}
footer h1{
    font-size: 3rem;
    font-weight: bold;
}
.footer-infor a{
    color: var(--black-color);
    opacity:1;
    transition: opacity 0.3s ease-in-out;
}
.footer-infor a:hover{
    opacity: 0.5;
}
.footer-navigation a{
    color: var(--qplusa-black);
    font-weight: bold;
    font-size:1.2rem;
    transition: color 0.3s ease-in-out;
}
.footer-navigation a:hover{
    color: var(--qplusa-blue);
}
.footer-cpright {
    font-size: var(--extra-small-size-font);
}
.svg-container{
    z-index: 0;
    position: absolute;
    top:0;
    left: -100%;
}
.bodyOverflow{
    overflow: hidden;
}
@media only screen and (max-width: 1512px) {
    .inner-paragraph form input[type="email"]{
        max-width: 700px;
    }
}
@media only screen and (max-width: 1440px) {
    .inner-paragraph form input[type="email"]{
        max-width: 450px;
    }
}
@media only screen and (max-width: 1280px) {
    
    .hero-gallery{
        display: none;
    }
    .svg-line{
        display: none;
    }
    .nav-container{
        margin-top: 1.5rem;
        height: 1440px;
    }
    .nav-ir.clicked .nav-inner{
        border: solid 1rem var(--black-color);
    }
    .nav-ir.clicked .inner-content{
        padding: 3rem;
    }
    .contact-col.team-image{
        padding:0 3rem;
    }
    .contact-col.team-image img{
        width: 100%;
        margin: 2rem 0;
    }

    .clicked .contact-col{
        width: 100%;
        border: 0;
        padding: 0;
    }
    .contact-col h1{
        line-height: 1;
        font-size: 3rem;
    }
 
    .contact-col.team-image{
        background-image:none;
    }
    .contact-col.team-image img{
        display: block;
    }
    .nav-ir.clicked .inner-content{
        padding: 3rem 1.5rem;
    }
    .nav-ir-1:hover:not(.clicked), .nav-ir-2:hover:not(.clicked) ,.nav-ir-3:hover:not(.clicked), .nav-ir-4:hover:not(.clicked){
        transform: none !important;
    }
    .inner-paragraph form *{
        margin: 0;
    }
    .inner-paragraph form input[type="email"]{
        max-width: 100%;
    } 
    .inner-paragraph form input[type="submit"] {
        margin-top: 1.5rem;
        max-width: 100%;
    }
    .contact-desktop{
        display: none;
    }
    .contact-mobile{
        display: block;
    }
    .nav-ir-4{
        top:75%;
    }
    .footer-title{
        margin: 1.5rem 0;
        
    }
    .footer-navigation{
        margin-bottom: 0.55rem;
    }
    .footer-infor{
        margin: 1rem 0;
        padding: 1rem 0 ;
        border-top: solid 2px var(--black-color);
    }

    

   
}

@media only screen and (max-width: 600px) {
    .container{
        padding: 0;
    }
    .main-content{
        padding: 0 1rem;
    }

    .hero-component{
        padding:0;
    }
    .hero-section .videoWrapper:hover{
        transform: none;
    }

    .nav-ir .nav-ir-name h1{
        font-size:2rem;
    }
    .clicked h1{
        font-size: 1.8rem;
    }
    .inner-paragraph h1, .inner-paragraph  h2, .inner-paragraph  h3, .inner-paragraph  h4{
        margin-bottom: 0.5rem;
        line-height: 1.5 !important;
    }
    .inner-paragraph  h2{
        font-size: 1.4rem;
    }
    .inner-paragraph h3{
        font-size: 1.3rem;
    }
    .inner-paragraph h4{
        font-size: 1.2rem;
    }
    .inner-paragraph form label{
        font-size: 1.5rem;
    }
    .contact-col strong{
        font-size: 1.2rem ;
    }
    .contact-col .send-btn{
        padding: 0.5rem;
        font-size:1.2rem;
    }

}

@media only screen and (max-width: 425px) {
    .contact-col strong{
        margin-bottom: 0.5rem;
    }
    .nav-container{
        height: 850px;
    }
    .nav-ir .nav-ir-name h1{
        font-size:1.5rem;
    }
    .close-btn{
        width: 38px;
        height: 38px;
    }
    .close-btn:before, .close-btn:after {
        position: absolute;
        content: ' ';
        left: 15px;
        height: 40px;
        width: 8px;
        background-color: #333;
    }
  
    





}